@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

small {
  position: relative;
  top: 100px;
  color: black;
  padding: 3px 0;
}

p {
  font-size: 1rem;
  padding: 100px 0;
}

.btn {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn:active,
.btn:hover {
  outline: 0;
}

.btn:hover span {
  background: none;
}

.btn:active {
  transform: scale(0.9);
}


.card {
  position: relative;
  border-radius: 8px;
  height: 300px;
  width: 150px;
  margin: 10px auto;
  background-repeat: no-repeat;
  box-shadow: 0 0 80px -10px black;
  overflow: hidden;
}

.card-blur {
  position: absolute;
  height: 100%;
  width: calc(100% + 1px);
  background-color: black;
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.card:hover .card-blur {
  opacity: 0.6;
}

.footer {
  z-index: 1;
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
}

svg#curve {
  position: absolute;
  fill: white;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 450px;
}

.connections {
  height: 80px;
  width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.connection {
  position: relative;
  bottom: 10px;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: white;
  display: inline-block;
  padding: 0;
  margin-right: 20px;
  transform: translateY(200px);
  transition: transform 1s cubic-bezier(0.46, 1.48, 0.18, 0.81);
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
}

.card:hover .connection {
  transform: translateY(0px);
}

.info {
  font-family: Inconsolata;
  position: relative;
  bottom: 40px;
  padding-left: 20px;
  transform: translateY(250px);
  transition: transform 1s cubic-bezier(0.31, 1.21, 0.64, 1.02);
  -webkit-transition: transform 1s cubic-bezier(0.31, 1.21, 0.64, 1.02);
  -moz-transition: transform 1s cubic-bezier(0.31, 1.21, 0.64, 1.02);
  -ms-transition: transform 1s cubic-bezier(0.31, 1.21, 0.64, 1.02);
  -o-transition: transform 1s cubic-bezier(0.31, 1.21, 0.64, 1.02);
  -webkit-transform: translateY(250px);
  -moz-transform: translateY(250px);
  -ms-transform: translateY(250px);
  -o-transform: translateY(250px);
}

.card:hover .info {
  transform: translateY(0px);
}

.name {
  font-weight: bolder;
  padding-top: 5px;
  position: relative;
}

.created {
  margin-top: 10px;
}

.connection.like {
  height: 35px;
  width: 35px;
  margin-left: 10px;
  padding: 0px;
  border-radius: 100%;
  overflow: hidden;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.like img {
  width: 32px;
  height: 30px;
}

.connection.delete {
  transition-delay: 0.06s;
}

.connection.folder {
  transition-delay: 0.06s;
}

.connection.download {
  transition-delay: 0.06s;
}
